<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Email Verification</title>
    <style>
      .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #0d0437;
        color: #ffffff;
        text-decoration: none;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <h1><%= header %></h1>
    <p><%= customMessage %></p>
    <a
      class="button"
      href="<%= verificationLink %>"
      >Verify Email</a
    >
  </body>
</html>
